<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="form-container">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocompelete ="off">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email"required>
            </div>
            <div class="form-group">
                <label for="srn">SRN:</label>
                <input type="text" id="srn" name="srn" placeholder="Enter your SRN" required>
            </div>
            <div class="form-group">
                <label for="branch">Branch:</label>
                <input type="text" id="branch" name="branch"placeholder="Enter your Branch" required>
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" id="year" name="year"placeholder="Enter your Year" required>
            </div>
            <div class="form-group">
                <label for="semester">Semester:</label>
                <input type="text" id="semester" name="semester" placeholder="Enter your Semester"required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="submit-btn">SignUp</button>
        </form>
        
    </div>
</body>
</html>